<!--TITLE:[Annuncio di Wine]-->
<!--BLURB:[Alexandre Julliard dice...]-->
<!--META_OG:[image|http://media.codeweavers.com/pub/crossover/marketing/og/wine-hq-announcement.png]-->

<h1 class="title">Annuncio di Wine</h1>

<!--EXEC:[announce]-->

